<ion-modal-view>
  <ion-header-bar class="bar-stable">
    <h1 class="title">Contact Us</h1>
	<div class="buttons">
      <button class="button button-clear" ng-click="closeContact()">Close</button>
    </div>
  </ion-header-bar>
  <ion-content>
	<div class="card" >
		<div class="item item-divider">
			About Us
		</div>
		<div class="item item-text-wrap">
			<label style="white-space: normal;">ExtraMeal is an app which directly connects hungry customer to tiffin vendors. Everything is free & without commision.</label>
		</div>
		<div class="item">
		<center>Email : support@extrameal.in</center>
		</div>
		<div class="item item-text-wrap">
			<label style="white-space: normal;">Feel free to contact us anytime for any query.</label>
		</div>
	</div>
  </ion-content>
</ion-modal-view>
